body{
    text-align: center;
    background-color: #E1C603;

}
#Id

{
    width: 100%;

}

h1{
  height: 150px;
  
    color: #FF4500;                                     ;

  background-color: #EDC100;

  font-size: 80px;

  font-style: italic;
 
}
h2{
    Color:   #FF4500;

}
